{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-max-props-per-line": [
      1,
      {
        "maximum": 3,
        "when": "multiline"
      }
    ],
    "implicit-arrow-linebreak": "off",
    "arrow-body-style": "off",
    "no-shadow": "off",
    "no-underscore-dangle": [
      2,
      {
        "allow": [
          "_children"
        ]
      }
    ]
  },
  "env": {
    "browser": true
  }
}
